{
  "presets": ["react-app"],
  "env": {
    "targets": {
          "browsers": ["IE 11",
          "> 1%",
          "last 2 versions"
          ]
    },
    "production": {
        "plugins": [
            "transform-remove-console",
            "transform-runtime"
        ],
        "presets": ["babili"]
    }
  }
}
